<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<th:block layout:fragment="css">
			<link rel="stylesheet" th:href="@{/css/main.css}">
			<link rel="stylesheet" th:href="@{/css/movie.css}">
			<link rel="stylesheet" th:href="@{/css/rest.css}">
			<link rel="stylesheet" th:href="@{/css/module.css}">
			<link rel="stylesheet" th:href="@{/css/layout.css}">			
		</th:block>
	</head>
	<body>
	<div layout:fragment="content" id="contaniner" class=""> 
		<!-- Contents Area -->
	<div id="contents" class="">
        
            
<!-- Contents Start -->
			


<!-- 실컨텐츠 시작 -->
    <div class="wrap-movie-chart">
        <!-- Heading Map Multi -->
        <div class="tit-heading-wrap">
            <h3>무비차트</h3>
           
        </div>
        <!-- //Heading Map Multi -->
        
        <div class="sect-movie-chart">

    <ol style="display:flex; justify-content:center;">
    
        <li>
            <div class="box-image">
                <strong class="rank">No.1</strong>	
                <a href="/movie/mTopgun">
                    <span class="thumb-image">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000082/82120/82120_320.jpg" alt="탑건-매버릭 포스터" onerror="errorImage(this)">
                        <span class="ico-grade grade-12">12세 이상</span>
                    </span>                   
                </a>
            </div>
            
            <div class="box-contents">
                <a href="/movie/mTopgun">
                    <strong class="title">탑건-매버릭</strong>
                </a>

                <div class="score">
                    <strong class="percent">예매율<span>17.8%</span></strong>
                <span class="txt-info">
                    <strong>
                        2022.06.22 
                        <span>개봉</span>                        
                    </strong>
                </span>
           		</div>    
        </li>
    
        <li>
            <div class="box-image">
                <strong class="rank">No.2</strong>	
                <a href="/movie/mBullet">
                    <span class="thumb-image">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86071/86071_320.jpg" alt="불릿 트레인 포스터" onerror="errorImage(this)">
                        <span class="ico-grade grade-19">청소년 관람불가</span>
                    </span>
                    
                </a>
                <span class="screentype">
                    
                        <a class="imax" href="#" title="IMAX 상세정보 바로가기" data-regioncode="07">IMAX</a>
                    
                        <a class="forDX" href="#" title="4DX 상세정보 바로가기" data-regioncode="4D14">4DX</a>
                    
                        <a class="screenx" href="#" title="SCREENX 상세정보 바로가기" data-regioncode="SCX">SCREENX</a>
                    
                </span>
            </div>
            
            <div class="box-contents">
                <a href="/movie/mBullet">
                    <strong class="title">불릿 트레인</strong>
                </a>

                <div class="score">
                    <strong class="percent">예매율<span>14.8%</span></strong>
                </div>

                <span class="txt-info">
                    <strong>
                        2022.08.24 
                        <span>개봉</span>
                        
                    </strong>
                </span>
            </div>    
        </li>
    
        <li>
            <div class="box-image">
                <strong class="rank">No.3</strong>	
                <a href="/movie/m645">
                    <span class="thumb-image">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86059/86059_320.jpg" alt="육사오 포스터" onerror="errorImage(this)">
                        <span class="ico-grade grade-12">12세 이상</span>
                    </span>
                    
                </a>
                <span class="screentype">
                    
                </span>
            </div>
            
            <div class="box-contents">
                <a href="/movie/m645">
                    <strong class="title">육사오</strong>
                </a>

                <div class="score">
                    <strong class="percent">예매율<span>14.1%</span></strong>
                </div>

                <span class="txt-info">
                    <strong>
                        2022.08.24 
                        <span>개봉</span>                        
                    </strong>
                </span>

            </div>    
        </li>
        
        <li>
            <div class="box-image">
                <strong class="rank">금주 예매율 1위</strong>	
                <a href="/movie/mTopgun">
                    <span class="thumb-image">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000082/82120/82120_320.jpg" alt="탑건-매버릭 포스터" onerror="errorImage(this)">
                        <span class="ico-grade grade-12">12세 이상</span>
                    </span>
                    
                </a>
                <span class="screentype">
                    
                        <a class="imax" href="#" title="IMAX 상세정보 바로가기" data-regioncode="07">IMAX</a>
                    
                        <a class="forDX" href="#" title="4DX 상세정보 바로가기" data-regioncode="4D14">4DX</a>
                    
                        <a class="screenx" href="#" title="SCREENX 상세정보 바로가기" data-regioncode="SCX">SCREENX</a>
                    
                </span>
            </div>
            
            <div class="box-contents">
                <a href="/movies/detail-view/?midx=82120">
                    <strong class="title">탑건-매버릭</strong>
                </a>
                <span class="txt-info">
                    <strong>2022.06.22 
                    	<span>개봉</span>                        
                    </strong>
                </span>
            </div>    
        </li>
    
    </ol>






    <ol>
    
        <li>
            <div class="box-image">
                <strong class="rank">No.4</strong>	
                <a href="/movie/mHunt">
                    <span class="thumb-image">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86058/86058_320.jpg" alt="헌트 포스터" onerror="errorImage(this)">
                        <span class="ico-grade grade-15">15세 이상</span>
                    </span>
                </a>
                <span class="screentype">
                    
                </span>
            </div>
            <div class="box-contents">
                <a href="/movie/mHunt">
                    <strong class="title">헌트</strong>
                </a>

                <div class="score">
                    <strong class="percent">예매율<span>12.7%</span></strong>
                </div>

                <span class="txt-info">
                    <strong>
                        2022.08.10 
                        <span>개봉</span>
                        
                    </strong>
                </span>
            </div>    
        </li>
    
    
        <li>
            <div class="box-image">
                <strong class="rank">No.5</strong>	
                <a href="/movie/mSemantic">
                    <span class="thumb-image">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86081/86081_320.jpg" alt="시맨틱 에러-더 무비 포스터" onerror="errorImage(this)">
                        <span class="ico-grade grade-12">12세 이상</span>
                    </span>
                </a>
                <span class="screentype">
                    
                </span>
            </div>
            <div class="box-contents">
                <a href="/movie/mSemantic">
                    <strong class="title">시맨틱 에러-더 무비</strong>
                </a>

                <div class="score">
                    <strong class="percent">예매율<span>6.8%</span></strong>
                </div>

                <span class="txt-info">
                    <strong>
                        2022.08.31 
                        <span>개봉</span>
                        <em class="dday">D-6</em>
                    </strong>
                </span>
            </div>    
        </li>
    
        <li>
            <div class="box-image">
                <strong class="rank">No.6</strong>	
                <a href="/movie/mNope">
                    <span class="thumb-image">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000085/85722/85722_320.jpg" alt="놉 포스터" onerror="errorImage(this)">
                        <span class="ico-grade grade-12">12세 이상</span>
                    </span>
                </a>
                <span class="screentype">
                    
                        <a class="imax" href="#" data-regioncode="07">IMAX</a>
                    
                </span>
            </div>
            <div class="box-contents">
                <a href="/movie/mNope">
                    <strong class="title">놉</strong>
                </a>

                <div class="score">
                    <strong class="percent">예매율<span>6.6%</span></strong>
                </div>

                <span class="txt-info">
                    <strong>
                        2022.08.17 
                        <span>개봉</span>
                        
                    </strong>
                </span>
            </div>    
        </li>
    
        <li>
            <div class="box-image">
                <strong class="rank">No.7</strong>	
                <a href="/movie/mHansan">
                    <span class="thumb-image">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000083/83280/83280_320.jpg" alt="한산-용의 출현 포스터" onerror="errorImage(this)">
                        <span class="ico-grade grade-12">12세 이상</span>
                    </span>
                </a>
                <span class="screentype">
                    
                        <a class="forDX" href="#" data-regioncode="4D14">4DX</a>
                    
                </span>
            </div>
            <div class="box-contents">
                <a href="/movie/mHansan">
                    <strong class="title">한산-용의 출현</strong>
                </a>

                <div class="score">
                    <strong class="percent">예매율<span>4.7%</span></strong>
                </div>

                <span class="txt-info">
                    <strong>
                        2022.07.27 
                        <span>개봉</span>
                        
                    </strong>
                </span>
              </div>    
        </li>
    
    </ol>

    
    
    <ol >           
    
        <li>
            <div class="box-image">
                <strong class="rank">No.8</strong>	
                <a href="/movie/mKonan">
                    <span class="thumb-image">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86008/86008_320.jpg" alt="명탐정 코난-할로윈의 신부 포스터" onerror="errorImage(this)">
                        <span class="ico-grade grade-12">12세 이상</span>
                    </span>
                </a>
                <span class="screentype">
                    
                        <a class="forDX" href="#" data-regioncode="4D14">4DX</a>
                    
                </span>
            </div>
            <div class="box-contents">
                <a href="/movie/mKonan">
                    <strong class="title">명탐정 코난-할로윈의 신부</strong>
                </a>

                <div class="score">
                    <strong class="percent">예매율<span>4.2%</span></strong>
                </div>

                <span class="txt-info">
                    <strong>
                        2022.07.13 
                        <span>개봉</span>
                        
                    </strong>
                </span>
            </div>    
        </li>
    
        <li>
            <div class="box-image">
                <strong class="rank">No.9</strong>	
                <a href="/movie/mLOL">
                    <span class="thumb-image">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86168/86168_320.jpg" alt="[LoL e스포츠]2022 LCK 서머 스플릿 결승전 포스터" onerror="errorImage(this)">
                        <span class="ico-grade grade-12">12세 이상</span>
                    </span>
                </a>
                <span class="screentype">
                    
                </span>
            </div>
            <div class="box-contents">
                <a href="/movie/mLOL">
                    <strong class="title">[LoL e스포츠]2022 LCK 서머 스플릿 결승전</strong>
                </a>

                <div class="score">
                    <strong class="percent">예매율<span>3.7%</span></strong>
                </div>

                <span class="txt-info">
                    <strong>
                        2022.08.28 
                        <span>개봉</span>
                        <em class="dday">D-3</em>
                    </strong>
                </span>
            </div>    
        </li>
    
    
        <li>
            <div class="box-image">
                <strong class="rank">No.10</strong>	
                <a href="/movie/mDemonSlayer">
                    <span class="thumb-image">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86064/86064_320.jpg" alt="귀멸의 칼날-아사쿠사 편 포스터" onerror="errorImage(this)">
                        <span class="ico-grade grade-15">15세 이상</span>
                    </span>
                </a>
                <span class="screentype">
                    
                </span>
            </div>
            <div class="box-contents">
                <a href="/movie/mDemonSlayer">
                    <strong class="title">귀멸의 칼날-아사쿠사 편</strong>
                </a>

                <div class="score">
                    <strong class="percent">예매율<span>3.4%</span></strong>
                </div>

                <span class="txt-info">
                    <strong>
                        2022.08.25 
                        <span>개봉</span>
                        
                    </strong>
                </span>
            </div>    
        </li>
    
    
        <li>
            <div class="box-image">
                <strong class="rank">No.11</strong>	
                <a href="/user/movieChart">
                    <span class="thumb-image">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86121/86121_320.jpg" alt="사랑할 땐 누구나 최악이 된다 포스터" onerror="errorImage(this)">
                        <span class="ico-grade grade-15">15세 이상</span>
                    </span>
                </a>
                <span class="screentype">                    
                        <a class="arthouse" href="#" data-regioncode="MovieCollage">아트하우스</a>                    
                </span>
            </div>
            <div class="box-contents">
                <a href="/user/movieChart">
                    <strong class="title">사랑할 땐 누구나 최악이 된다</strong>
                </a>

                <div class="score">
                    <strong class="percent">예매율<span>2.0%</span></strong>
                </div>

                <span class="txt-info">
                    <strong>
                        2022.08.25 
                        <span>개봉</span>
                        
                    </strong>
                </span>
            </div>    
        </li>
    
        <li>
            <div class="box-image">
                <strong class="rank">No.12</strong>	
                <a href="/user/movieChart">
                    <span class="thumb-image">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000084/84879/84879_320.jpg" alt="코코순이 포스터" onerror="errorImage(this)">
                        <span class="ico-grade grade-all">전체</span>
                    </span>
                </a>
                <span class="screentype">
                    
                </span>
            </div>
            <div class="box-contents">
                <a href="/user/movieChart">
                    <strong class="title">코코순이</strong>
                </a>

                <div class="score">
                    <strong class="percent">예매율<span>1.2%</span></strong>
                </div>

                <span class="txt-info">
                    <strong>
                        2022.08.25 
                        <span>개봉</span>
                        
                    </strong>
                </span>
                <span class="like"> 
                    <a class="link-reservation" href="/ticket/?MOVIE_CD=20027466&amp;MOVIE_CD_GROUP=20027466">예매</a>
                </span>
            </div>    
        </li>
    
        <li>
            <div class="box-image">
                <strong class="rank">No.13</strong>	
                <a href="/user/movieChart">
                    <span class="thumb-image">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86118/86118_320.jpg" alt="어웨이크 포스터" onerror="errorImage(this)">
                        <span class="ico-grade grade-15">15세 이상</span>
                    </span>
                </a>
                <span class="screentype">
                    
                </span>
            </div>
            <div class="box-contents">
                <a href="/user/movieChart">
                    <strong class="title">어웨이크</strong>
                </a>

                <div class="score">
                    <strong class="percent">예매율<span>1.0%</span></strong>
                </div>

                <span class="txt-info">
                    <strong>
                        2022.08.24 
                        <span>개봉</span>
                        
                    </strong>
                </span>
                <span class="like"> 
                    <a class="link-reservation" href="/ticket/?MOVIE_CD=20030267&amp;MOVIE_CD_GROUP=20030267">예매</a>
                </span>
            </div>    
        </li>
    
        <li>
            <div class="box-image">
                <strong class="rank">No.14</strong>	
                <a href="/user/movieChart">
                    <span class="thumb-image">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86029/86029_320.jpg" alt="큐브 포스터" onerror="errorImage(this)">
                        <span class="ico-grade grade-15">15세 이상</span>
                    </span>
                </a>
                <span class="screentype">
                    
                </span>
            </div>
            <div class="box-contents">
                <a href="/user/movieChart">
                    <strong class="title">큐브</strong>
                </a>

                <div class="score">
                    <strong class="percent">예매율<span>0.9%</span></strong>
                </div>

                <span class="txt-info">
                    <strong>
                        2022.08.24 
                        <span>개봉</span>
                        
                    </strong>
                </span>
                <span class="like"> 
                    <a class="link-reservation" href="/ticket/?MOVIE_CD=20030036&amp;MOVIE_CD_GROUP=20030036">예매</a>
                </span>
            </div>    
        </li>
    
        <li>
            <div class="box-image">
                <strong class="rank">No.15</strong>	
                <a href="/user/movieChart">
                    <span class="thumb-image">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86155/86155_320.jpg" alt="공조2-인터내셔날 포스터" onerror="errorImage(this)">
                        <span class="ico-grade grade-15">15세 이상</span>
                    </span>
                </a>
                <span class="screentype">
                    
                </span>
            </div>
            <div class="box-contents">
                <a href="/user/movieChart">
                    <strong class="title">공조2-인터내셔날</strong>
                </a>

                <div class="score">
                    <strong class="percent">예매율<span>0.9%</span></strong>
                </div>

                <span class="txt-info">
                    <strong>
                        2022.09.07 
                        <span>개봉</span>
                        <em class="dday">D-13</em>
                    </strong>
                </span>
                <span class="like"> 
                    <a class="link-reservation" href="/ticket/?MOVIE_CD=20030433&amp;MOVIE_CD_GROUP=20030335">예매</a>
                </span>
            </div>    
        </li>
    
        <li>
            <div class="box-image">
                <strong class="rank">No.16</strong>	
                <a href="/user/movieChart">
                    <span class="thumb-image">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000081/81889/81889_320.jpg" alt="그녀 포스터" onerror="errorImage(this)">
                        <span class="ico-grade grade-15">15세 이상</span>
                    </span>
                </a>
                <span class="screentype">
                    
                </span>
            </div>
            <div class="box-contents">
                <a href="/user/movieChart">
                    <strong class="title">그녀</strong>
                </a>

                <div class="score">
                    <strong class="percent">예매율<span>0.8%</span></strong>
                </div>

                <span class="txt-info">
                    <strong>
                        2022.08.31 
                        <span>재개봉</span>
                        <em class="dday">D-6</em>
                    </strong>
                </span>
                <span class="like"> 
                    <a class="link-reservation" href="/ticket/?MOVIE_CD=20019689&amp;MOVIE_CD_GROUP=20019689">예매</a>
                </span>
            </div>    
        </li>
    
        <li>
            <div class="box-image">
                <strong class="rank">No.17</strong>	
                <a href="/user/movieChart">
                    <span class="thumb-image">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000083/83127/83127_320.jpg" alt="미니언즈2 포스터" onerror="errorImage(this)">
                        <span class="ico-grade grade-all">전체</span>
                    </span>
                </a>
                <span class="screentype">
                    
                </span>
            </div>
            <div class="box-contents">
                <a href="/user/movieChart">
                    <strong class="title">미니언즈2</strong>
                </a>

                <div class="score">
                    <strong class="percent">예매율<span>0.6%</span></strong>
                </div>

                <span class="txt-info">
                    <strong>
                        2022.07.20 
                        <span>개봉</span>
                        
                    </strong>
                </span>
                <span class="like"> 
                    <a class="link-reservation" href="/ticket/?MOVIE_CD=20022752&amp;MOVIE_CD_GROUP=20022752">예매</a>
                </span>
            </div>    
        </li>
    
        <li>
            <div class="box-image">
                <strong class="rank">No.18</strong>	
                <a href="/user/movieChart">
                    <span class="thumb-image">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000085/85852/85852_320.jpg" alt="헤어질 결심 포스터" onerror="errorImage(this)">
                        <span class="ico-grade grade-15">15세 이상</span>
                    </span>
                </a>
                <span class="screentype">
                    
                        <a class="arthouse" href="#" data-regioncode="MovieCollage">아트하우스</a>
                    
                </span>
            </div>
            <div class="box-contents">
                <a href="/user/movieChart">
                    <strong class="title">헤어질 결심</strong>
                </a>

                <div class="score">
                    <strong class="percent">예매율<span>0.6%</span></strong>
                </div>

                <span class="txt-info">
                    <strong>
                        2022.06.29 
                        <span>개봉</span>
                        
                    </strong>
                </span>
                <span class="like"> 
                    <a class="link-reservation" href="/ticket/?MOVIE_CD=20029572&amp;MOVIE_CD_GROUP=20029572">예매</a>
                </span>
            </div>    
        </li>
    
        <li>
            <div class="box-image">
                <strong class="rank">No.19</strong>	
                <a href="/user/movieChart">
                    <span class="thumb-image">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86028/86028_320.jpg" alt="풀타임 포스터" onerror="errorImage(this)">
                        <span class="ico-grade grade-all">전체</span>
                    </span>
                </a>
                <span class="screentype">
                    
                        <a class="arthouse" href="#" data-regioncode="MovieCollage">아트하우스</a>
                    
                </span>
            </div>
            <div class="box-contents">
                <a href="/user/movieChart">
                    <strong class="title">풀타임</strong>
                </a>

                <div class="score">
                    <strong class="percent">예매율<span>0.3%</span></strong>
                </div>

                <span class="txt-info">
                    <strong>
                        2022.08.18 
                        <span>개봉</span>
                        
                    </strong>
                </span>
                <span class="like"> 
                    <a class="link-reservation" href="/ticket/?MOVIE_CD=20030034&amp;MOVIE_CD_GROUP=20030034">예매</a>
                </span>
            </div>    
        </li>
    
    </ol>
    
    
    
    

    
    
</div>
    </div>
    
    <!-- .sect-moviechart -->
<div class="sect-movie-chart">
 <ol id="movie_more_container" style="display:none" class="list-more">
    <li></li>
</ol>
</div>







<script id="temp_movie" type="text/x-jquery-tmpl">
    <li>
        <div class="box-image" >
            <a href="/movies/detail-view/?midx=${MovieIdx}">
                <span class="thumb-image">
                    <img src="${PosterImage.LargeImage}" alt="${Title}" onerror="errorImage(this)"/>
                    <span class="ico-grade ${MovieGrade.StyleClassName}">${MovieGrade.GradeText}</span>
                </span>
            </a>
            <span class="screentype">
                {{each MovieKindList}}
                <a class="${StyleClassName}" href="#" data-regioncode="${RegionCode}">${KindName}</a>
                {{/each}}
            </span>
        </div>
                    
        <div class="box-contents">
            <a href="/movies/detail-view/?midx=${MovieIdx}">
                <strong class="title">${Title}</strong>
            </a>

            <div class="score">
                <strong class="percent">예매율<span>${TicketRate}%</span></strong>
            </div>

            <span class="txt-info">
                <strong>
                    ${OpenDate}
                    <span>${OpenText}</span>
                    {{if D_Day > 0}}
                        <em class="dday">D-${D_Day}</em>
                    {{/if}}
                </strong>
            </span>
            <span class="like"> 
                {{if (IsTicketing)}}<a class="link-reservation" href="http://www.cgv.co.kr/ticket/?MOVIE_CD=${CGVCode}&MOVIE_CD_GROUP=${MovieGroupCode}">예매</a>{{/if}}
            </span>
        </div>    
    </li>
</script>


            
<!--/ Contents End -->
	</div> 
<!-- /Contents Area -->
</div>
	
	</body>
</html>



