<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	<head>
		<meta charset="UTF-8">
		<title>login</title>
		

	  	<th:block layout:fragment="css">
			<link rel="stylesheet" th:href="@{/css/reset.css}">
			<link rel="stylesheet" th:href="@{/css/module.css}">
			<link rel="stylesheet" th:href="@{/css/layout.css}">
			<link rel="stylesheet" th:href="@{/css/reset.css}">
		</th:block>	
	</head>
	
	<body>

<div layout:fragment="content" id="contaniner" class="">
        

<!-- Contents Area -->
<div id="contents" class="">        
            
<!-- Contents Start -->			

<!-- 실컨텐츠 시작 -->
<div class="wrap-movie-detail" id="select_main">


<div class="sect-base-movie">
    <h3><strong>한산-용의 출현</strong>기본정보</h3>
    <div class="box-image">
        <a href="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000083/83280/83280_1000.jpg" title="포스터 크게 보기 새창" target="_blank">
            <span class="thumb-image"> 
                <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000083/83280/83280_320.jpg" alt="한산-용의 출현 포스터 새창" onerror="errorImage(this)"/>
                <span class="ico-posterdetail">포스터 크게 보기</span>
                <span class="ico-grade grade-12"> 12세 이상</span>
            </span> 
        </a> 
    </div>
    <div class="box-contents">
        <div class="title"> 
            <strong>한산-용의 출현</strong>
            <em class="round lightblue"><span>현재상영중</span></em>
            
            
            <p>Hansan: Rising Dragon</p>
        </div>

        <div class="spec">
            <dl>
                <dt>감독 :&nbsp;</dt>
                <dd>
                    <a href="/movies/persons/?pidx=2622">김한민</a> 
                </dd>                
                <dd>                    
                </dd>

                <dt>&nbsp;/ 배우 :&nbsp;</dt>
                <dd class="on">
                    
                        
                        <a href="/movies/persons/?pidx=14528">박해일</a>                    
                        
                        ,&nbsp;
                        <a href="/movies/persons/?pidx=115000">변요한</a>                    
                        
                        ,&nbsp;
                        <a href="/movies/persons/?pidx=34">안성기</a>                    
                        
                        ,&nbsp;
                        <a href="/movies/persons/?pidx=15466">손현주</a>                    
                        
                        ,&nbsp;
                        <a href="/movies/persons/?pidx=40382">김성규</a>                    
                        
                        ,&nbsp;
                        <a href="/movies/persons/?pidx=113764">김성균</a>                    
                        
                        ,&nbsp;
                        <a href="/movies/persons/?pidx=40168">김향기</a>                    
                        
                        ,&nbsp;
                        <a href="/movies/persons/?pidx=114624">택연</a>                    
                        
                        ,&nbsp;
                        <a href="/movies/persons/?pidx=29711">공명</a>                    
                        
                        ,&nbsp;
                        <a href="/movies/persons/?pidx=53952">박지환</a>                    
                        
                        ,&nbsp;
                        <a href="/movies/persons/?pidx=59523">조재윤</a>                    
                        
                </dd>

                <dt>장르 :&nbsp;액션,&nbsp;드라마</dt> 
                <dd></dd>
                <dt>&nbsp;/ 기본 :&nbsp;</dt>
                <dd class="on">12세 이상,&nbsp;130분,&nbsp;한국</dd>
                <dt>개봉 :&nbsp;</dt>
                <dd class="on">2022.07.27</dd>


            

            </dl>
        </div>
        <span class="screentype">
        
                <a href="#" class="forDX" title="4DX 상세정보 바로가기" data-regioncode="4D14">4DX</a>
            
        </span>

    </div>
</div>
<!-- .sect-base -->





    <div class="cols-content" id="menu">
        <div class="col-detail">
            <div class="sect-story-movie">
                <p>나라의 운명을 바꿀 압도적 승리의 전투가 시작된다!</p>

<p>1592년 4월, 조선은 임진왜란 발발 후 단 15일만에 왜군에 한양을 빼앗기며 절체절명의 위기에 놓인다.<br />
조선을 단숨에 점령한 왜군은 명나라로 향하는 야망을 꿈꾸며 대규모 병역을 부산포로 집결시킨다.</p>

<p>한편, 이순신 장군은 연이은 전쟁의 패배와 선조마저 의주로 파천하며 수세에 몰린 상황에서도<br />
조선을 구하기 위해 전술을 고민하며 출전을 준비한다.<br />
하지만 앞선 전투에서 손상을 입은 거북선의 출정이 어려워지고,<br />
거북선의 도면마저 왜군의 첩보에 의해 도난 당하게 되는데&hellip;</p>

<p>왜군은 연승에 힘입어 그 우세로 한산도 앞바다로 향하고,<br />
이순신 장군은 조선의 운명을 가를 전투를 위해 필사의 전략을 준비한다.</p>

<p>1592년 여름, 음력 7월 8일 한산도 앞바다,<br />
압도적인 승리가 필요한 조선의 운명을 건 지상 최고의 해전이 펼쳐진다.</p>
            </div>

<!-- .sect-trailer -->
<div id="ctl00_PlaceHolderContent_Section_Still_Cut" class="sect-stillcut">
                <div class="heading">
                    <h4>스틸컷</h4><span class="count"><strong id="stillcut_current">1</strong>/5건</span>
                </div>
                <div class="slider-wrap">
                    <div class="slider" id="still_motion">
                        
                        <div class="item-wrap">
                            <div class="item" style="width: 800px; height: 450px;">
                                <img data-src="https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000083/83280/83280205729_727.jpg" alt="한산-용의 출현" onerror="errorImage(this)" src="https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000083/83280/83280205729_727.jpg" style="height: 100%;">
                            </div>
                        </div>
                        
                        <div class="item-wrap">
                            <div class="item" style="width: 800px; height: 450px; display: none;">
                                <img data-src="https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000083/83280/83280205728_727.jpg" alt="한산-용의 출현" onerror="errorImage(this)" src="https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000083/83280/83280205728_727.jpg" style="margin-top: 22.5px;">
                            </div>
                        </div>
                        
                        <div class="item-wrap">
                            <div class="item" style="width: 800px; height: 450px; display: none;">
                                <img data-src="https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000083/83280/83280205727_727.JPG" alt="한산-용의 출현" onerror="errorImage(this)">
                            </div>
                        </div>
                        
                        <div class="item-wrap">
                            <div class="item" style="width: 800px; height: 450px; display: none;">
                                <img data-src="https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000083/83280/83280205726_727.JPG" alt="한산-용의 출현" onerror="errorImage(this)">
                            </div>
                        </div>
                        
                        <div class="item-wrap">
                            <div class="item" style="width: 800px; height: 450px; display: none;">
                                <img data-src="https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000083/83280/83280205725_727.JPG" alt="한산-용의 출현" onerror="errorImage(this)">
                            </div>
                        </div>
                        

                        
                        <button type="button" class="btn-prev">이전 페이지 이동</button>
                        <button type="button" class="btn-next">다음 페이지 이동</button>
                    </div>
                </div>
            </div>
</div>
    <span style="display:none" class="modifyCommentDummy"></span>
</div>
         
<!--/ Contents End -->
<br><br><br><br>
</div>
</div>
		 
	<footer></footer>		
</body>
</html>	