<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	<head>
		<meta charset="UTF-8">
		<title>login</title>
		

	  	<th:block layout:fragment="css">
			<link rel="stylesheet" th:href="@{/css/reset.css}">
			<link rel="stylesheet" th:href="@{/css/module.css}">
			<link rel="stylesheet" th:href="@{/css/layout.css}">
			<link rel="stylesheet" th:href="@{/css/reset.css}">
		</th:block>	
	</head>
	
	<body>

<div layout:fragment="content" id="contaniner" class="">
        

<!-- Contents Area -->
<div id="contents" class="">        
            
<!-- Contents Start -->			

<!-- 실컨텐츠 시작 -->
<div class="wrap-movie-detail" id="select_main">


<div class="sect-base-movie">
    <h3><strong>헌트</strong>기본정보</h3>
    <div class="box-image">
        <a href="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86058/86058_1000.jpg" title="포스터 크게 보기 새창" target="_blank">
            <span class="thumb-image"> 
                <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86058/86058_320.jpg" alt="헌트 포스터 새창" onerror="errorImage(this)"/>
                <span class="ico-posterdetail">포스터 크게 보기</span>
                <span class="ico-grade grade-15"> 15세 이상</span>
            </span> 
        </a> 
    </div>
    <div class="box-contents">
        <div class="title"> 
            <strong>헌트</strong>
            <em class="round lightblue"><span>현재상영중</span></em>
            
            
            <p>HUNT</p>
        </div>
        <div class="score"> 
            <strong class="percent">예매율&nbsp;<span>12.7%</span></strong>
            <!-- 2020.05.07 개봉전 프리에그 노출, 개봉후 골든에그지수 노출변경 -->            
            <div class='egg-gage small'>
                                            <span class='egg great'></span>
                                            <span class='percent'>95%</span>
                                        </div>
        </div>
        <!-- 떨어지는 얘 이전 요소에 class=on을 넣는다 -->
        <div class="spec">
            <dl>
                <dt>감독 :&nbsp;</dt>
                <dd>
                    
                        
                        <a href="/movies/persons/?pidx=703">이정재</a>                    
                        
                </dd>
                <dt>&nbsp;/ 프로듀서 :&nbsp;</dt>
                <dd>
                    
                        
                        조재상                 
                        
                </dd>

                <dt>&nbsp;/ 배우 :&nbsp;</dt>
                <dd class="on">
                    
                        
                        <a href="/movies/persons/?pidx=703">이정재</a>                    
                        
                        ,&nbsp;
                        <a href="/movies/persons/?pidx=432">정우성</a>                    
                        
                        ,&nbsp;
                        <a href="/movies/persons/?pidx=324">전혜진</a>                    
                        
                        ,&nbsp;
                        <a href="/movies/persons/?pidx=55204">허성태</a>                    
                        
                        ,&nbsp;
                        <a href="/movies/persons/?pidx=123127">고윤정</a>                    
                        
                        ,&nbsp;
                        <a href="/movies/persons/?pidx=22563">김종수</a>                    
                        
                        ,&nbsp;
                        <a href="/movies/persons/?pidx=13789">정만식</a>                    
                        
                </dd>

                <dt>장르 :&nbsp;액션,&nbsp;드라마</dt> 
                <dd></dd>
                <dt>&nbsp;/ 기본 :&nbsp;</dt>
                <dd class="on">15세 이상,&nbsp;125분,&nbsp;한국</dd>
                <dt>개봉 :&nbsp;</dt>
                <dd class="on">2022.08.10</dd>


            

            </dl>
        </div>
        <span class="screentype">
        
        </span>

        <span class="like">
            <!-- 2020.05.07 영화찜하기 -> 프리에그 선택 변경(조회하여 노출) -->
            <a class="link-count" href="javascript:void (0);"><i class="sprite_preegg btn_md default"></i>프리에그</a>
        
            <a class="link-reservation" href="/ticket/?MOVIE_CD=20030111&MOVIE_CD_GROUP=20030111">예매</a> 
        
        </span>

    </div>
</div>
<!-- .sect-base -->






<div class="cols-content" id="menu">
        <div class="col-detail">
            <!-- 메뉴가 선택되면 a 에 title="선택" 이라고 넣는다 -->
            <ul class="tab-menu">
                <li class="on"><a title="현재 선택됨" href="/movies/detail-view/?midx=86058#menu">주요정보 </a></li>             
                <li><a href="/movies/detail-view/trailer.aspx?midx=86058#menu">트레일러</a></li>
                <li><a href="/movies/detail-view/still-cut.aspx?midx=86058#menu">스틸컷</a></li>
                <li><a href="/movies/detail-view/?midx=86058#commentReg">평점/리뷰</a></li>               
                <li class="last"><a href="/movies/detail-view/show-times.aspx?midx=86058#menu">상영시간표</a></li>
            </ul>
            <div class="sect-story-movie">
                <em>조직 내 숨어든 스파이를 색출하라!<br />
&lsquo;사냥꾼&rsquo;이 될 것인가, &lsquo;사냥감&rsquo;이 될 것인가!</em><br />
<br />
망명을 신청한 북한 고위 관리를 통해 정보를 입수한<br />
안기부 해외팀 &lsquo;박평호&rsquo;(이정재)와 국내팀 &lsquo;김정도&rsquo;(정우성)는<br />
조직 내 숨어든 스파이 &lsquo;동림&rsquo; 색출 작전을 시작한다.<br />
스파이를 통해 일급 기밀사항들이 유출되어 위기를 맞게 되자<br />
날 선 대립과 경쟁 속, 해외팀과 국내팀은 상대를 용의선상에 올려두고<br />
조사에 박차를 가한다.<br />
<br />
찾아내지 못하면 스파이로 지목이 될 위기의 상황,<br />
서로를 향해 맹렬한 추적을 펼치던 &lsquo;박평호&rsquo;와 &lsquo;김정도&rsquo;는 감춰진 실체에 다가서게 되고,<br />
마침내 &lsquo;대한민국 1호 암살 작전&rsquo;이라는 거대한 사건과 직면하게 되는데&hellip;&hellip;<br />
<br />
<em><strong>하나의 목표, 두 개의 총구<br />
의심과 경계 속 두 남자의 신념을 건 작전이 시작된다</strong></em>
            </div>
            <!-- .sect-story -->
            <!-- 2020.05.07 성별예매분포, 연령별예매분포 UI 변경 -->
            <div id="ctl00_PlaceHolderContent_Section_Chart" class="sect-graph sect-graph-emotion">
                <ul class="graph">
                    <li>
                        <strong>성별 예매 분포</strong>
                        <div id="jqplot_sex" class="chart"></div>
                    </li>
                    <li>
                        <strong>연령별 예매 분포</strong>
                        <div id="jqplot_age" class="chart"></div>
                    </li>
                </ul>
            </div>
            <!-- .sect-graph -->

            <div class="movie-detail-ad">
                <iframe src="http://ad.cgv.co.kr/NetInsight/html/CGV/CGV_201401/sub@SponsorBar_800" width="800" height="90" title="" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" name="SponsorBar_800" id="SponsorBar_800"></iframe>
            </div>
            <!-- .sect-staff -->
            <div id="ctl00_PlaceHolderContent_Section_Trailer" class="sect-trailer">
                <div class="heading">
                    <h4>트레일러</h4><span id="ctl00_PlaceHolderContent_TrailerTotalCount" class="count">14건</span><a class="link-more" href="trailer.aspx?midx=86058">더보기</a>
                </div>
                <ul>
                <!-- 사진 동영상 조회 -->
                
                    <li>
                        <div class="box-image">
                            <!-- TODO : 동영상 팝업 창 작업 후 링크 걸어야 함 //-->
                            <a href="#" title="새창" class="movie_player_popup" data-gallery-idx="205825">
                                <span class="thumb-image">
                                    <img src="https://img.cgv.co.kr/Movie/Thumbnail/Trailer/86058/86058205825_1024.jpg" alt="[헌트]글로벌 예고편" onerror="errorImage(this, {'type':'landscape'})"/>
                                    <span class="ico-play">영상보기</span>
                                </span>
                            </a>
                        </div>
                        <div class="box-contents">
                            <a href="#" title="새창" class="movie_player_popup" data-gallery-idx="205825">
                                <strong class="title">
                                    
                                    <span class="ico-trailer hd">HD</span>
                                    글로벌 예고편
                                </strong>
                            </a>
                            <span class="txt-info">2022.08.22</span>
                        </div>
                    </li>
                    
                    <li>
                        <div class="box-image">
                            <!-- TODO : 동영상 팝업 창 작업 후 링크 걸어야 함 //-->
                            <a href="#" title="새창" class="movie_player_popup" data-gallery-idx="205819">
                                <span class="thumb-image">
                                    <img src="https://img.cgv.co.kr/Movie/Thumbnail/Trailer/86058/86058205819_1024.jpg" alt="[헌트]액팅 미션 영상" onerror="errorImage(this, {'type':'landscape'})"/>
                                    <span class="ico-play">영상보기</span>
                                </span>
                            </a>
                        </div>
                        <div class="box-contents">
                            <a href="#" title="새창" class="movie_player_popup" data-gallery-idx="205819">
                                <strong class="title">
                                    
                                    <span class="ico-trailer hd">HD</span>
                                    액팅 미션 영상
                                </strong>
                            </a>
                            <span class="txt-info">2022.08.22</span>
                        </div>
                    </li>
                    
                    <li>
                        <div class="box-image">
                            <!-- TODO : 동영상 팝업 창 작업 후 링크 걸어야 함 //-->
                            <a href="#" title="새창" class="movie_player_popup" data-gallery-idx="205667">
                                <span class="thumb-image">
                                    <img src="https://img.cgv.co.kr/Movie/Thumbnail/Trailer/86058/86058205667_1024.jpg" alt="[헌트]VIP 시사 현장 영상" onerror="errorImage(this, {'type':'landscape'})"/>
                                    <span class="ico-play">영상보기</span>
                                </span>
                            </a>
                        </div>
                        <div class="box-contents">
                            <a href="#" title="새창" class="movie_player_popup" data-gallery-idx="205667">
                                <strong class="title">
                                    
                                    <span class="ico-trailer hd">HD</span>
                                    VIP 시사 현장 영상
                                </strong>
                            </a>
                            <span class="txt-info">2022.08.16</span>
                        </div>
                    </li>
                    
                </ul>
            </div><!-- .sect-trailer -->
            <div id="ctl00_PlaceHolderContent_Section_Still_Cut" class="sect-stillcut">
                <div class="heading">
                    <h4>스틸컷</h4><span class="count"><strong id="stillcut_current">1</strong>/5건</span><a class="link-more" href="still-cut.aspx?midx=86058">더보기</a>
                </div>
                <div class="slider-wrap">
                    <div class="slider" id="still_motion">
                        
                        <div class="item-wrap">
                            <div class="item">
                                <img data-src="https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000086/86058/86058205824_727.jpg" alt="헌트" onerror="errorImage(this)" />
                            </div>
                        </div>
                        
                        <div class="item-wrap">
                            <div class="item">
                                <img data-src="https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000086/86058/86058205823_727.jpg" alt="헌트" onerror="errorImage(this)" />
                            </div>
                        </div>
                        
                        <div class="item-wrap">
                            <div class="item">
                                <img data-src="https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000086/86058/86058205822_727.jpg" alt="헌트" onerror="errorImage(this)" />
                            </div>
                        </div>
                        
                        <div class="item-wrap">
                            <div class="item">
                                <img data-src="https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000086/86058/86058205821_727.jpg" alt="헌트" onerror="errorImage(this)" />
                            </div>
                        </div>
                        
                        <div class="item-wrap">
                            <div class="item">
                                <img data-src="https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000086/86058/86058205625_727.jpg" alt="헌트" onerror="errorImage(this)" />
                            </div>
                        </div>
 
                        
                        <button type="button" class="btn-prev">이전 페이지 이동</button>
                        <button type="button" class="btn-next">다음 페이지 이동</button>
                    </div>
                </div>
            </div>
            <!-- ./sect-stillcut -->
     </div>       
	</div>
</div>
    <span style="display:none" class="modifyCommentDummy"></span>
</div>
         
<!--/ Contents End -->
</div>
		 
	<footer></footer>		
</body>
</html>	