<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	<head>
		<meta charset="UTF-8">
		<title>login</title>
		

	  	<th:block layout:fragment="css">
			<link rel="stylesheet" th:href="@{/css/reset.css}">
			<link rel="stylesheet" th:href="@{/css/module.css}">
			<link rel="stylesheet" th:href="@{/css/layout.css}">
			<link rel="stylesheet" th:href="@{/css/reset.css}">
		</th:block>	
	</head>
	
	<body>

<div layout:fragment="content" id="contaniner" class="">
        

<!-- Contents Area -->
<div id="contents" class="">        
            
<!-- Contents Start -->			

<!-- 실컨텐츠 시작 -->
<div class="wrap-movie-detail" id="select_main">

<div class="sect-base-movie">
    <h3><strong>명탐정 코난-할로윈의 신부</strong>기본정보</h3>
    <div class="box-image">
        <a href="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86008/86008_1000.jpg" title="포스터 크게 보기 새창" target="_blank">
            <span class="thumb-image"> 
                <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86008/86008_320.jpg" alt="명탐정 코난-할로윈의 신부 포스터 새창" onerror="errorImage(this)"/>
                <span class="ico-posterdetail">포스터 크게 보기</span>
                <span class="ico-grade grade-12"> 12세 이상</span>
            </span> 
        </a> 
    </div>
    <div class="box-contents">
        <div class="title"> 
            <strong>명탐정 코난-할로윈의 신부</strong>
            <em class="round lightblue"><span>현재상영중</span></em>
            
            
            <p>Detective Conan: The Bride of Halloween</p>
        </div>
        <div class="score"> 
            <strong class="percent">예매율&nbsp;<span>9.2%</span></strong>
            <!-- 2020.05.07 개봉전 프리에그 노출, 개봉후 골든에그지수 노출변경 -->            
            <div class='egg-gage small'>
                                            <span class='egg great'></span>
                                            <span class='percent'>97%</span>
                                        </div>
        </div>
        <!-- 떨어지는 얘 이전 요소에 class=on을 넣는다 -->
        <div class="spec">
            <dl>
                <dt>감독 :&nbsp;</dt>
                <dd>
                    
                        
                        <a href="/movies/persons/?pidx=123088">미츠나카 스스무</a>                    
                        
                </dd>
                
                <dd>
                    
                </dd>

                
                <dd class="on">
                    
                </dd>

                <dt>장르 :&nbsp;애니메이션</dt> 
                <dd></dd>
                <dt>&nbsp;/ 기본 :&nbsp;</dt>
                <dd class="on">12세 이상,&nbsp;110분,&nbsp;일본</dd>
                <dt>개봉 :&nbsp;</dt>
                <dd class="on">2022.07.13</dd>


            

            </dl>
        </div>
        <span class="screentype">
        
                <a href="#" class="forDX" title="4DX 상세정보 바로가기" data-regioncode="4D14">4DX</a>
            
        </span>

        <span class="like">
            <!-- 2020.05.07 영화찜하기 -> 프리에그 선택 변경(조회하여 노출) -->
            <a class="link-count" href="javascript:void (0);"><i class="sprite_preegg btn_md default"></i>프리에그</a>
        
            <a class="link-reservation" href="/ticket/?MOVIE_CD=20029955&MOVIE_CD_GROUP=20029955">예매</a> 
        
        </span>

    </div>
</div>

<!-- .sect-base -->


<div class="cols-content" id="menu">
        <div class="col-detail">
            <div class="sect-story-movie">
                <strong>트리플 페이스 아무로 토오루, 그의 목에 폭탄이 채워졌다?!</strong><br />
						&nbsp;<br />
						극악무도한 폭파범 &lsquo;플라먀&rsquo;에 의해 교묘한 함정에 빠진 아무로 토오루!<br />
						모든 것이 베일에 가려진 &lsquo;플라먀&rsquo;,<br />
						유일한 단서는 아무로 토오루가 그의 경찰 동기들과 마지막으로 함께 했던 하루.<br />
						이와 동시에 결혼식의 신부가 된 경시청의 사토 형사는 불길한 예감을 감출 수 없는데&hellip;<br />
						&nbsp;<br />
						도시 전체를 인질로 삼은 &lsquo;플라먀&rsquo;,<br />
						그리고 이를 막으려 하는 아무로 토오루와 명탐정 코난의 숨 막히는 공조!<br />
						<br />
						<strong>다시 시작된 카운트다운, 할로윈의 밤이 광란으로 빛난다!</strong>
            </div>
           



		</div>
    <span style="display:none" class="modifyCommentDummy"></span>
</div>
 
 <div id="ctl00_PlaceHolderContent_Section_Still_Cut" class="sect-stillcut">
                <div class="heading">
                    <h4>스틸컷</h4><span class="count"><strong id="stillcut_current">1</strong>/18건</span><a class="link-more" href="still-cut.aspx?midx=86008">더보기</a>
                </div>
                <div class="slider-wrap">
                    <div class="slider" id="still_motion">
                        
                        <div class="item-wrap">
                            <div class="item">
                                <img data-src="https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000086/86008/86008204704_727.jpg" alt="명탐정 코난-할로윈의 신부" onerror="errorImage(this)" />
                            </div>
                        </div>
                        
                        <div class="item-wrap">
                            <div class="item">
                                <img data-src="https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000086/86008/86008204114_727.jpg" alt="명탐정 코난-할로윈의 신부" onerror="errorImage(this)" />
                            </div>
                        </div>
                        
                        <div class="item-wrap">
                            <div class="item">
                                <img data-src="https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000086/86008/86008204113_727.jpg" alt="명탐정 코난-할로윈의 신부" onerror="errorImage(this)" />
                            </div>
                        </div>
                        
                        <div class="item-wrap">
                            <div class="item">
                                <img data-src="https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000086/86008/86008204112_727.jpg" alt="명탐정 코난-할로윈의 신부" onerror="errorImage(this)" />
                            </div>
                        </div>
                        
                        <div class="item-wrap">
                            <div class="item">
                                <img data-src="https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000086/86008/86008204111_727.jpg" alt="명탐정 코난-할로윈의 신부" onerror="errorImage(this)" />
                            </div>
                        </div>
                        
                        <button type="button" class="btn-prev">이전 페이지 이동</button>
                        <button type="button" class="btn-next">다음 페이지 이동</button>
                    </div>
                </div>
            </div>        
<!--/ Contents End -->
<br><br><br><br>
</div>
		 
	<footer></footer>		
</body>
</html>	