<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	<head>
		<meta charset="UTF-8">
		<title>login</title>
		

	  	<th:block layout:fragment="css">
			<link rel="stylesheet" th:href="@{/css/reset.css}">
			<link rel="stylesheet" th:href="@{/css/module.css}">
			<link rel="stylesheet" th:href="@{/css/layout.css}">
			<link rel="stylesheet" th:href="@{/css/reset.css}">
		</th:block>	
	</head>
	
	<body>

<div layout:fragment="content" id="contaniner" class="">
        

<!-- Contents Area -->
<div id="contents" class="">        
            
<!-- Contents Start -->			

<!-- 실컨텐츠 시작 -->
<div class="wrap-movie-detail" id="select_main">


<div class="sect-base-movie">
    <h3><strong>[LoL e스포츠]2022 LCK 서머 스플릿 결승전</strong>기본정보</h3>
    <div class="box-image">
        <a href="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86168/86168_1000.jpg" title="포스터 크게 보기 새창" target="_blank">
            <span class="thumb-image"> 
                <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86168/86168_320.jpg" alt="[LoL e스포츠]2022 LCK 서머 스플릿 결승전 포스터 새창" onerror="errorImage(this)"/>
                <span class="ico-posterdetail">포스터 크게 보기</span>
                <span class="ico-grade grade-12"> 12세 이상</span>
            </span> 
        </a> 
    </div>
    <div class="box-contents">
        <div class="title"> 
            <strong>[LoL e스포츠]2022 LCK 서머 스플릿 결승전</strong>
            
            <em class="round brown"><span>예매중</span></em>
            <em class="round red"><span>D-3</span></em>
            <p></p>
        </div>
        <div class="score"> 
            <strong class="percent">예매율&nbsp;<span>3.7%</span></strong>
            <!-- 2020.05.07 개봉전 프리에그 노출, 개봉후 골든에그지수 노출변경 -->            
            <div class='egg-gage small'>
                                            <span class='sprite_preegg default'></span>
                                            <span class='percent'>?</span>
                                        </div>
        </div>
        <!-- 떨어지는 얘 이전 요소에 class=on을 넣는다 -->
        <div class="spec">
            <dl>
                
                <dd>
                    
                </dd>
                
                <dd>
                    
                </dd>

                
                <dd class="on">
                    
                </dd>

                <dt>장르 :&nbsp;</dt> 
                <dd></dd>
                <dt>&nbsp;/ 기본 :&nbsp;</dt>
                <dd class="on">12세 이상,&nbsp;340분,&nbsp;</dd>
                <dt>개봉 :&nbsp;</dt>
                <dd class="on">2022.08.28</dd>


            

            </dl>
        </div>
        <span class="screentype">
        
        </span>

        <span class="like">
            <!-- 2020.05.07 영화찜하기 -> 프리에그 선택 변경(조회하여 노출) -->
            <a class="link-count" href="javascript:void (0);"><i class="sprite_preegg btn_md default"></i>프리에그</a>
        
            <a class="link-reservation" href="/ticket/?MOVIE_CD=20030366&MOVIE_CD_GROUP=20030366">예매</a> 
        
        </span>

    </div>
</div>
<!-- .sect-base -->



<script type="text/javascript">
    _TRK_PNC = "82120";
    _TRK_PNC_NM = "탑건-매버릭";
    _TRK_PNG = "영화";
    _TRK_PI = "PDV";
    _TRK_CP = "/영화/영화상세/{0}/탑건-매버릭";
</script>


<div class="cols-content" id="menu">
        <div class="col-detail">
            <!-- 메뉴가 선택되면 a 에 title="선택" 이라고 넣는다 -->
            <ul class="tab-menu">
                <li class="on"><a title="현재 선택됨" href="/movies/detail-view/?midx=86168#menu">주요정보 </a></li>             
                <li><a href="/movies/detail-view/trailer.aspx?midx=86168#menu">트레일러</a></li>
                <li><a href="/movies/detail-view/still-cut.aspx?midx=86168#menu">스틸컷</a></li>
                <li><a href="/movies/detail-view/?midx=86168#commentReg">평점/리뷰</a></li>               
                <li class="last"><a href="/movies/detail-view/show-times.aspx?midx=86168#menu">상영시간표</a></li>
            </ul>
            <div class="sect-story-movie">
                <p><strong><span style="color:#ff0000">*&nbsp;본 중계는 ScreenX 3면 중계가 아닌 단면 중계입니다.<br />
* CGV영등포 5관은 사전행사 시에 상영관 내 응원 모습이 온라인 (강릉 아레나)으로 소개될 예정입니다.&nbsp;</span></strong><br />
<br />
[LoL e스포츠]2022 LCK 서머 스플릿 결승전&nbsp;<br />
<br />
<strong>■ </strong><strong>진행극장</strong><br />
CGV 용산아이파크몰, 왕십리, 강남, 송파, 강변, 영등포, 신촌아트레온, 구로, 소풍, 부천역, 대학로, 상봉, 중계, 인천, 계양, 일산, 의정부, 원주, 수원, 동수원, 평촌, 안산, 평택,&nbsp;대전, 천안펜타포트, 서면, 센텀시티, 창원더시티, 대구아카데미, 울산삼산, 광주터미널, 제주노형&nbsp;<br />
<br />
<strong>■ 꼭 확인하세요</strong><br />
- 본 콘텐츠는 현지 사정으로 인해,&nbsp;상영 시작이 지연될 수 있습니다.</p>

<p>- 본 콘텐츠는 당일 경기 일정&nbsp;종료시&nbsp;중계가 종료됩니다.</p>

<p>- 생중계 콘텐츠로,&nbsp;통신 환경에 따라 상영 중 일시적인 끊김 현상이 있을 수 있습니다.</p>

<p>- 관람을 위해 마스크 착용은 필수이며,&nbsp;미착용시&nbsp;입장 불가 및&nbsp;환불처리됩니다.</p>

<p>- 코로나19&nbsp;&nbsp;확산 방지를 위해 함성,&nbsp;구호 등의 행위는 자제 부탁드립니다.</p>

<p>- 해당 콘텐츠는 당일 예매 취소 및 변경 불가로&nbsp;,전날&nbsp;&nbsp;23시&nbsp;59분까지 취소가 가능합니다.</p>

<p>- 각종 할인 쿠폰,&nbsp;관람권 사용이 제한됩니다.<br />
&nbsp;&nbsp;(40%멤버할인,&nbsp;임원카드&nbsp;외에 불가.&nbsp;단&nbsp;CJ&nbsp;상품권&nbsp;회입&nbsp;가능)</p>

<p>-&nbsp;상영 중 촬영 및 취재는 불가합니다.</p>

<p>- 본 이벤트의 취소 및 특이사항 발생시 기존 예매 고객께 문자로 안내됩니다. (사용하지 않는 연락처가 기재되어 있는 경우 수신이 불가할 수 있습니다.)<br />
<br />
- 극장 사정에 따라 경기 시작 전 안내되는 스튜디오 영상이 미송출 될 수 있습니다.&nbsp;<br />
<br />
- 중계사고 (관람 중 화면비 이상, 색감 이상, 사운드 끊김 등) 발생 시, 공연업 보상 기준을 준용하여 보상하며, 세부 내용은 별도 공지사항을 참고 부탁드립니다. <a href="http://cgv.kr/Jj10Z">[공지사항 확인하기]</a></p>
            </div>
            <!-- .sect-story -->
            <!-- 2020.05.07 성별예매분포, 연령별예매분포 UI 변경 -->
            <div id="ctl00_PlaceHolderContent_Section_Chart" class="sect-graph sect-graph-emotion">
                <ul class="graph">
                    <li>
                        <strong>성별 예매 분포</strong>
                        <div id="jqplot_sex" class="chart"></div>
                    </li>
                    <li>
                        <strong>연령별 예매 분포</strong>
                        <div id="jqplot_age" class="chart"></div>
                    </li>
                </ul>
            </div>
            <!-- .sect-graph -->

            <div class="movie-detail-ad">
                <iframe src="http://ad.cgv.co.kr/NetInsight/html/CGV/CGV_201401/sub@SponsorBar_800" width="800" height="90" title="" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" name="SponsorBar_800" id="SponsorBar_800"></iframe>
            </div>
            <!-- .sect-staff -->
            <!-- .sect-trailer -->
            <div id="ctl00_PlaceHolderContent_Section_Still_Cut" class="sect-stillcut">
                <div class="heading">
                    <h4>스틸컷</h4><span class="count"><strong id="stillcut_current">1</strong>/1건</span><a class="link-more" href="still-cut.aspx?midx=86168">더보기</a>
                </div>
                <div class="slider-wrap">
                    <div class="slider" id="still_motion">
                        
                        <div class="item-wrap">
                            <div class="item">
                                <img data-src="https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000086/86168/86168205816_727.jpg" alt="[LoL e스포츠]2022 LCK 서머 스플릿 결승전" onerror="errorImage(this)" />
                            </div>
                        </div>
                        
                        <button type="button" class="btn-prev">이전 페이지 이동</button>
                        <button type="button" class="btn-next">다음 페이지 이동</button>
                    </div>
                </div>
            </div>
</div>
    <span style="display:none" class="modifyCommentDummy"></span>
</div>
         
<!--/ Contents End -->
</div>
		 
	<footer></footer>		
</body>
</html>	