<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	<head>
		<meta charset="UTF-8">
		<title>login</title>
		

	  	<th:block layout:fragment="css">
			<link rel="stylesheet" th:href="@{/css/reset.css}">
			<link rel="stylesheet" th:href="@{/css/module.css}">
			<link rel="stylesheet" th:href="@{/css/layout.css}">
			<link rel="stylesheet" th:href="@{/css/reset.css}">
		</th:block>	
	</head>
	
	<body>

<div layout:fragment="content" id="contaniner" class="">
        

<!-- Contents Area -->
<div id="contents" class="">        
            
<!-- Contents Start -->			

<!-- 실컨텐츠 시작 -->
<div class="wrap-movie-detail" id="select_main">


<div class="sect-base-movie">
    <h3><strong>시맨틱 에러-더 무비</strong>기본정보</h3>
    <div class="box-image">
        <a href="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86081/86081_1000.jpg" title="포스터 크게 보기 새창" target="_blank">
            <span class="thumb-image"> 
                <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86081/86081_320.jpg" alt="시맨틱 에러-더 무비 포스터 새창" onerror="errorImage(this)"/>
                <span class="ico-posterdetail">포스터 크게 보기</span>
                <span class="ico-grade grade-12"> 12세 이상</span>
            </span> 
        </a> 
    </div>
    <div class="box-contents">
        <div class="title"> 
            <strong>시맨틱 에러-더 무비</strong>
            
            <em class="round brown"><span>예매중</span></em>
            <em class="round red"><span>D-6</span></em>
            <p>Semantic Error</p>
        </div>
        <div class="score"> 
            <strong class="percent">예매율&nbsp;<span>6.8%</span></strong>
        </div>

        <div class="spec">
            <dl>
                <dt>감독 :&nbsp;</dt>
                <dd>
                	<a href="/movies/persons/?pidx=123151">김수정</a>  
                </dd>                
                <dd>                    
                </dd>
                <dt>&nbsp;/ 배우 :&nbsp;</dt>
                <dd class="on">
                    
                        
                        <a href="/movies/persons/?pidx=123152">박서함</a>                    
                        
                        ,&nbsp;
                        <a href="/movies/persons/?pidx=123153">박재찬</a>                    
                        
                </dd>

                <dt>장르 :&nbsp;로맨스,&nbsp;멜로</dt> 
                <dd></dd>
                <dt>&nbsp;/ 기본 :&nbsp;</dt>
                <dd class="on">12세 이상,&nbsp;178분,&nbsp;한국</dd>
                <dt>개봉 :&nbsp;</dt>
                <dd class="on">2022.08.31</dd>


            

            </dl>
        </div>
        <span class="screentype">
        
        </span>
</div>
</div>

<div class="cols-content" id="menu">
        <div class="col-detail">
             <div class="sect-story-movie">
                대한민국을 뜨겁게 만든 폭발적 신드롬의 주인공!<br />
드라마 [시맨틱 에러]를 극장에서 만난다!<br />
<br />
컴공과 &#39;아싸&#39; 추상우의 완벽하게 짜인 일상에 에러처럼 나타난 안하무인 디자인과 &#39;인싸&#39; 장재영,<br />
극과 극 청춘들의 캠퍼스 로맨스가 스크린으로 펼쳐진다!
            </div>
<!-- .sect-trailer -->
            <div id="ctl00_PlaceHolderContent_Section_Still_Cut" class="sect-stillcut">
                <div class="heading">
                    <h4>스틸컷</h4><span class="count"><strong id="stillcut_current">1</strong>/5건</span>
                </div>
                <div class="slider-wrap">
                    <div class="slider" id="still_motion">
                        
                        <div class="item-wrap">
                            <div class="item" style="width: 800px; height: 450px;">
                                <img data-src="https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000086/86081/86081205512_727.jpg" alt="시맨틱 에러-더 무비" onerror="errorImage(this)" src="https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000086/86081/86081205512_727.jpg" style="height: 100%;">
                            </div>
                        </div>
                        
                        <div class="item-wrap">
                            <div class="item" style="width: 800px; height: 450px; display: none;">
                                <img data-src="https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000086/86081/86081205511_727.jpg" alt="시맨틱 에러-더 무비" onerror="errorImage(this)" src="https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000086/86081/86081205511_727.jpg" style="height: 100%;">
                            </div>
                        </div>
                        
                        <div class="item-wrap">
                            <div class="item" style="width: 800px; height: 450px; display: none;">
                                <img data-src="https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000086/86081/86081205223_727.jpg" alt="시맨틱 에러-더 무비" onerror="errorImage(this)">
                            </div>
                        </div>
                        
                        <div class="item-wrap">
                            <div class="item" style="width: 800px; height: 450px; display: none;">
                                <img data-src="https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000086/86081/86081205222_727.jpg" alt="시맨틱 에러-더 무비" onerror="errorImage(this)">
                            </div>
                        </div>
                        
                        <div class="item-wrap">
                            <div class="item" style="width: 800px; height: 450px; display: none;">
                                <img data-src="https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000086/86081/86081205221_727.jpg" alt="시맨틱 에러-더 무비" onerror="errorImage(this)">
                            </div>
                        </div>
 
                        
                        <button type="button" class="btn-prev">이전 페이지 이동</button>
                        <button type="button" class="btn-next">다음 페이지 이동</button>
                    </div>
                </div>
            </div>
</div>
    <span style="display:none" class="modifyCommentDummy"></span>
</div>
         
<!--/ Contents End -->
<br><br><br><br>
</div>
</div>
		 
	<footer></footer>		
</body>
</html>	