<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org">
	  <head>
	  	<meta charset="UTF-8">
	  	<title>header</title>
	  </head>
	  
	  <body>
	  	<header th:fragment="header">
<div class= "container">
	<div class="header">			
            <!-- 서비스 메뉴 --> 
            
<div class="header_content">
    <div class="contents">
        <h1 onclick="">
        	<a href="/">
        		<img src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fscontent-nrt1-1.cdninstagram.com%2Fv%2Ft51.2885-19%2F135795864_188837356265159_5577414491288813824_n.jpg%3Fstp%3Ddst-jpg_s150x150%26_nc_ht%3Dscontent-nrt1-1.cdninstagram.com%26_nc_cat%3D111%26_nc_ohc%3DB38VS6YHsCMAX9pmMjw%26edm%3DABfd0MgBAAAA%26ccb%3D7-5%26oh%3D00_AT8Jkim3d-1PoIevgrt7mpod66gjG24jxSQlgGvW9G_bpw%26oe%3D62CD4986%26_nc_sid%3D7bff83&type=fff264_180" alt="CLM" />
        	</a>
        	<span> CULTUREPLEX</span>
        </h1>
        <ul class="memberInfo_wrap">


            
            <li><a href="/user/login/"><img src="/images/loginPassword.png" alt="로그인" /><span>로그인</span></a></li>
            <li><a href="/user/join/"><img src="/images/loginJoin.png" alt="회원가입" /><span>회원가입</span></a></li>
            
            
            <li><a href="/user/mypage_home/"><img src="/images/loginMember.png" alt="MY CLM" /><span>MY CLM</span></a></li>
            <li><a href="/support/default.aspx"><img src="/images/loginCustomer.png" alt="고객센터" /><span>고객센터</span></a></li>
        </ul>
    </div>
</div>


           
<!-- 서브 메뉴 -->
			
<script type="text/javascript">
    $(document).ready(function () {
        $('.nav_menu > li > h2 > a').on({
            mouseenter: function (e) {
                var target = e.target;
                $(target).parents('.nav_menu').find('.nav_overMenu').slideDown(function () {
                    $('.nav').addClass('active');
                });
            },
            click: function (e) {
                var target = e.target;
                if (!$('.nav').hasClass('active')) {
                    $(this).trigger('mouseenter');
                } else {
                    $('.nav').trigger('mouseleave');
                }
            }
        });


// 하위메뉴 숨기기

        $('.nav').on({
            mouseleave: function (e) {
                $(this).find('.nav_overMenu').slideUp(200, function () {
                    $('.nav').removeClass('active');
                });
            }
        });

        $('.totalSearch_wrap input[type=text]').on({
            focusin: function () {
                $('.totalSearch_wrap').addClass("active");
            }
        });

        $('.btn_totalSearchAutocomplete_close').on({
            click: function () {
                $('.totalSearch_wrap').removeClass("active");
            },
            focusout: function (e) {
                //     $('.totalSearch_wrap').removeClass("active");

            }
        });

        $(this).on({
            scroll: function (e) {
                /* S GNB fixed */
                var headerOffsetT = $('.header').offset().top;
                var headerOuterH = $('.header').outerHeight(true);
                var fixedHeaderPosY = headerOffsetT + headerOuterH;
                var scrollT = $(this).scrollTop();
                var scrollL = $(this).scrollLeft();

                if (scrollT >= fixedHeaderPosY) {
                    $('.nav').addClass('fixed');
                    $('.fixedBtn_wrap').addClass('topBtn');
                } else {
                    $('.nav').removeClass('fixed');
                    $('.fixedBtn_wrap').removeClass('topBtn');
                }

                /* S > GNB fixed 좌우 스크롤
                Description
                - GNB가 fixed 되었을때 좌우 스크롤 되게 처리
                */
                if ($('.nav').hasClass('fixed')) {
                    $('.nav').css({ 'left': -1 * scrollL })
                } else {
                    $('.nav').css({ 'left': 0 })
                }
                /* E > GNB fixed 좌우 스크롤 */
                /* S GNB fixed */
            }
        });

        $('.btn_gotoTop').on({
            click: function () {
                $('html, body').stop().animate({
                    scrollTop: '0'
                }, 400);
            }
        });

        //통합검색 상단 검색 버튼
        $('#btn_header_search').on('click', function () {

           
            if ($('#header_ad_keyword').val() != "")
                goSearch($('#header_ad_keyword'));      //광고
            else
                goSearch($('#header_keyword'));

            
            return false;
        });

        //통합검색 검색어 입력창
        $('#header_keyword').keyup(function (e) {
            if (e.keyCode == 13) goSearch($('#header_keyword'));
        });

         //검색 입력창 클릭 시 광고값 reset
        $('#header_keyword').on('click', function () {
            $(this).attr('placeholder', '');
            $('#header_ad_keyword').val('');
        });

    });

    //통합검색
    function goSearch($objKeyword) {

        if ($objKeyword.val() == "") {
            alert("검색어를 입력해 주세요");
            $objKeyword.focus();
            return false;
        }

        //GA 검색로그
        gaEventLog('PC_GNB', '검색', $objKeyword.val());
        location = "/search/?query=" + escape($objKeyword.val());
    }

   



    //비즈스프링 클릭로그
    function setClickLog(title) {
        // eval("try{trk_clickTrace('EVT', '" + title + "')}catch(_e){}");
    }

</script>
<div class="nav">
    <div class="contents">
        <h1><a href="/" tabindex="-1"><img src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fscontent-nrt1-1.cdninstagram.com%2Fv%2Ft51.2885-19%2F135795864_188837356265159_5577414491288813824_n.jpg%3Fstp%3Ddst-jpg_s150x150%26_nc_ht%3Dscontent-nrt1-1.cdninstagram.com%26_nc_cat%3D111%26_nc_ohc%3DB38VS6YHsCMAX9pmMjw%26edm%3DABfd0MgBAAAA%26ccb%3D7-5%26oh%3D00_AT8Jkim3d-1PoIevgrt7mpod66gjG24jxSQlgGvW9G_bpw%26oe%3D62CD4986%26_nc_sid%3D7bff83&type=fff264_180" alt="CLM" /></a></h1>
        <ul class="nav_menu">
            <li>
                <h2><a href="/user/movieChart">영화</a></h2>
                <dl class="nav_overMenu">
                    <dt><h2><a href="/user/movieChart" tabindex="-1">영화</a></h2></dt>
                    <dd><h3><a href="/user/movieChart">무비차트</a></h3></dd>
                </dl>
            </li>
            <li>
                <h2><a href="/theaters/">극장</a></h2>
                <dl class="nav_overMenu">
                    <dt><h2><a href="/theaters/" tabindex="-1">극장</a></h2></dt>
                    <dd><h3><a href="/theaters/">CLM 극장</a></h3></dd>
                </dl>
            </li>
            <li>
                <h2><a href="/ticket/">예매</a></h2>
                <dl class="nav_overMenu">
                    <dt><h2><a href="/ticket/" tabindex="-1">예매</a></h2></dt>
                    <dd><h3><a href="/reserve/show-times/">상영스케줄</a></h3></dd>
                </dl>
            </li>
            <li>
                <h2><a href="/store/storemain">스토어</a></h2>
                <dl class="nav_overMenu">
                    <dt><h2><a href="/store/storemain" tabindex="-1">스토어</a></h2></dt>
                    
                            <dd><h3><a href="/">영화관람권</a></h3></dd>
                        
                            <dd><h3><a href="/">기프트카드</a></h3></dd>
                        
                            <dd><h3><a href="/">콤보</a></h3></dd>
                        
                            <dd><h3><a href="/">팝콘</a></h3></dd>
                        
                            <dd><h3><a href="/">음료</a></h3></dd>
                
                </dl>
            </li>
            <li>
                <h2 onclick="gaEventLog('PC_GNB','주메뉴_이벤트','')"><a href="/event/eventSpecial">이벤트</a></h2>
                <dl class="nav_overMenu">
                    <dt><h2><a href="/event/eventSpecial" tabindex="-1">이벤트</a></h2></dt>
                    <dd><h3><a href="/event/eventSpecial">SPECIAL</a></h3></dd>

                </dl>
            </li>

        </ul>
        <div class="totalSearch_wrap">
            <label for="totalSearch">
                <input type="text" id="header_keyword" value="" />
                <input type="hidden" id="header_ad_keyword" name="header_ad_keyword" />
            </label>
            <button type="button" class="btn_totalSearch" id="btn_header_search">검색</button>
            <!--<img src="/images/search.png" width="0" height="0" title="" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen">-->

        </div>
    </div>
</div>
            <!-- 서브 메뉴 -->			
	</div>
				</div>
		</header>
	  </body>
</html>