<!DOCTYPE html>
<html lang="ko" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이 페이지</title>

  	
  	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/reset.css}" >
		<link rel="stylesheet" th:href="@{/css/common.css}" >
		<link rel="stylesheet" th:href="@{/css/layout.css}" >
		<link rel="stylesheet" th:href="@{/css/content.css}" >
		<link rel="stylesheet" th:href="@{/css/module20211209.css}" >
		 > 
	</th:block>	
</head>


<body layout:fragment="content" class="" style="">

<div class="skipnaiv">
	<a href="#contents" id="skipHeader">메인 컨텐츠 바로가기</a>
</div>
<div id="cgvwrap">
        
	
      <!-- S Header
        Description
        - class 'nav' 에 class 'active' 추가시 서브메뉴노출
        - class 'nav' 에 class 'fixed' 추가시 상단고정되며 스타일 변경됨
     -->
	
	<!-- E Header -->

	<!-- Contaniner -->
	<div id="contaniner" class=""><!-- 벽돌 배경이미지 사용 시 class="bg-bricks" 적용 / 배경이미지가 없을 경우 class 삭제  -->
        

		<!-- Contents Area -->
	 <div id="contents" class="">
	        
	            
	            <!-- Contents Start -->
				
		<div class="sect-common" style="height:250px;">
		<input type="hidden" id="isTown" name="isTown" value="Y">
		<input type="hidden" id="userTownMemberInfo" name="userTownMemberInfo" value="">
		    <div class="mycgv-info-wrap" style="height:190px; background-color:rgb(247, 247, 247)">
				<div class="skipnaiv">
					<a href="#menu" id="skipPersoninfo">개인화영역 건너띄기</a>
				</div>
		        <div class="sect-person-info">
		        	<h2 class="hidden">개인화 영역</h2> 
		        	<div class="box-image">
						<span class="thumb-image">
							<img src="http://img.cgv.co.kr/R2014/images/common/default_profile.gif" alt="장성훈님 프로필 사진" onerror="errorImage(this, {'type':'profile'})">
							<span class="profile-mask"></span>
						</span>
		        	</div>
		        	<div class="box-contents newtype">
		        		<div class="person-info">
		        			<strong>장성훈님</strong>
		        			<em>scardzem</em>
		        			<span>닉네임 : <i>닉네임을 설정해주세요.</i> </span>
		        			<button id="go_edit_page" type="button" title="새창열림">나의 정보 변경</button>
		        		</div>
		        		<div class="grade-info">
		                    <p style="margin-bottom:4px;color: rgb(99, 99, 99);font-family: 'NanumBarunGothicBold', '맑은 고딕', '돋움', Dotum, sans-serif;font-size: 17px;line-height: 20px; font-weight:100;">
		                            반갑습니다             
		                    </p>
		                    <div class="mycgv_btn_special2">
						    </div>
		        		</div>
		        	</div>
		        </div>
		        
		    </div>
		</div>
	
		<div class="cols-content" id="menu" style="border-top:solid 1px #e1e1e1;">
		    <div class="col-aside">
				<div class="skipnaiv">
					<a href="#mycgv_contents" id="skipMycgvMenu">MYCLM서브메뉴 건너띄기</a>
				</div>
			    <h2>MY CLM 서브메뉴</h2>
			    <div class="snb">
			        <ul>
			            <li class="on">
		                    <a href="/user/mypage/mypage_home" title="현재 선택">MY CLM HOME <i></i></a>
		                </li>
			            <li>
		                    <a href="/user/mypage/mypage_home">회원정보<i></i></a>
			                <ul>
		
		                         <li>
		                            <a href="/user/mypage/edit_myinfo">개인정보 변경</a>
		                        </li>
			                    <li>
		                            <a href="/user/mypage/leave">회원탈퇴</a>
		                        </li>
		                        
			                </ul>
			            </li>
		                 <li>
		                    <a href="/user/mypage/profile">프로필 관리<i></i></a>
		                </li>
			        </ul>
			        
			    </div>
		    </div>
		    <div class="col-detail" id="mycgv_contents">
				<p style="font-size: 2em; padding-top:10px; padding-left:2em;">마이 페이지 입니다. <br>회원 정보 수정, 회원 탈퇴가 가능합니다.</p>
			</div>
		</div>
	</div>

            
            <!--/ Contents End -->
		 </div>
		<!-- /Contents Area -->
	</div>

	
<!-- S 예매하기 및 TOP Fixed 버튼 -->	
    <div class="fixedBtn_wrap">
      	<a href="/ticket/ticket_home" class="btn_fixedTicketing">예매하기</a>
        <a href="#none" class="btn_gotoTop"><img src="https://img.cgv.co.kr/R2014/images/common/btn/gotoTop.png" alt="최상단으로 이동"></a>
    </div>






</body>

</html>